<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dane testowe</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Wygenerowane dane</h1>
<table>
    <thead>
    <tr>
        <th th:each="header: ${data.keySet()}" th:text="${header}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i: ${#numbers.sequence(0, size - 1)}">
        <td th:each="key: ${data.keySet()}" th:text="${data.get(key).get(i)}">TestCell</td>
    </tr>
    </tbody>
</table>
</body>
</html>
