.container {
    max-width: 600px;
    margin: 0 auto;
}

.container > * {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h1 {
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 8px 16px;
}

table {
    width: 100%;
    max-width: 1000px;
    table-layout: fixed;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 0;
}
